.DS_Store
bin/
.idea/
dist/
MacOSX*

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
!*.c
report.html
timelock-worker.log

# Test & linter reports
*report.xml
*report.json
*.out
*coverage*
testdata/

# Test binary, built with `go test -c`
*.test

# env file
*.env

# Editor config directories
.idea/
.vscode/


tests/integration/solana/artifacts/
